* {
    box-sizing: border-box;
}

:root {
    /* Paleta de colores */
    --color-orange: hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);

    /* Fuente */
    --font-base: "Overpass", serif;
}

body {
    font-family: var(--font-base);
    background-color: var(--color-very-dark-blue);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to right, var(--color-dark-blue), hsl(213, 19%, 30%));
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    border: var(--color-light-grey) 1px solid;
}

.icon-star img {
    background-color: var(--color-dark-blue);
    border-radius: 50%;
    padding: 20px;
}

.parragraph {
    color: var(--color-light-grey);
}

h1 {
    color: var(--color-white);
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;  
    width: 100%;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--color-dark-blue);
    border: none;
    color: var(--color-white);
    height: 60px; 
    width: 60px;  
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    font-size: 1.2rem;

    &:hover{
        background-color: var(--color-white);
        color: var(--color-very-dark-blue);
    }
}

.button-submit {
    width: 100%;
    margin-top: 20px;
}

.button-submit button[type="submit"] {
    background-color: var(--color-orange);
    border: none;
    color: var(--color-white);
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;  
    height: 60px;  
    font-size: 1.2rem;
}


/*COMPONENTE 2*/

.hidden {
   display: none;
}
.item-selected{
    background: linear-gradient(to left, var(--color-dark-blue), hsl(213, 19%, 30%));
    padding: 0.5rem;
    border-radius: 50px;
}











